body {
    background-color: black;
    
  }

nav{
    width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

footer{
    height: 308px;

}

.gallery{
    width: 1277px;
    display: flex;
    justify-content: space-between;
    
    
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 100%;
    height: 530px;
    top: 7em;
    background-color: #5d76dc;
   

}
    
.topnav {
    background-color:black;
    font-family: 'Barlow', sans-serif;
    overflow: hidden;
  }


.topnav a {
    width: 900px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 36px;
    font-weight: 400;

  }
.form-container{
    color: white;
    font-family: font-family: 'Barlow', sans-serif;
    
}